/* Navbar */
.custom-navbar {
    background-color: #a020f0;
  }
  
  .custom-brand {
    color: #000000 !important;
  }
  
  .custom-link {
    color: #000000 !important;
  }
  
  /* Botões dos produtos */
  .btn-card {
    background-color: #a020f0 !important;
  }
  